<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515236238654-pt3n9aqubig475g2ahh53pde1flralvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515236238654-pt3n9aqubig475g2ahh53pde1flralvf</string>
	<key>API_KEY</key>
	<string>AIzaSyD04mIs2SnBYK00zZiXbsXUAFqf3Zgagzk</string>
	<key>GCM_SENDER_ID</key>
	<string>515236238654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sachin.Synergy</string>
	<key>PROJECT_ID</key>
	<string>synergy-7e4c8</string>
	<key>STORAGE_BUCKET</key>
	<string>synergy-7e4c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515236238654:ios:dcddbef602fbbcb78c086f</string>
</dict>
</plist>